// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-brand {
  margin-top: -15px;
  float: left;
  padding: 15px 5px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
}